.container-fluid, .container {
    margin: 0px auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
    margin: 0px 0px 20px 0;
    float: none;
}

.container, .container--large, .container--small {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.container--small {
    max-width: 800px;
}

@include respond-to('small') {
    .grid-offset {
        margin-left: -$grid-gutter;
        margin-right: -$grid-gutter;
    }

    .container {
        width: 750px;
    }

    .col-1 {
        @include column-width(1);
    }
    .col-2 {
        @include column-width(2);
    }
    .col-3 {
        @include column-width(3);
    }
    .col-4 {
        @include column-width(4);
    }
    .col-5 {
        @include column-width(5);
    }
    .col-6 {
        @include column-width(6);
    }
    .col-7 {
        @include column-width(7);
    }
    .col-8 {
        @include column-width(8);
    }
    .col-9 {
        @include column-width(9);
    }
    .col-10 {
        @include column-width(10);
    }
    .col-11 {
        @include column-width(11);
    }
    .col-12 {
        @include column-width(12);
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-left: $grid-gutter;
        margin-right: $grid-gutter;
        margin-bottom: 0;
        float: left;
        display: block;
    }

    .alt {
        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
            float: right;
        }
    }

}

@include respond-to('medium') {
    .container {
        width: 960px;
    }

}

@include respond-to('large') {
    .container {
        width: 1140px;
    }
}

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both;
}