
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.4;
    font-weight: 400;
    font-family: $base-font-family;
    color: $base-fg-colour;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-weight: 300;
    color: $primary-colour;
}

h1, .h1 {
    @include font-size($h1-font-sizes);
}

h2, .h2 {
    @include font-size($h2-font-sizes);
}

h3, .h3 {
    @include font-size($h3-font-sizes);
}

h4, .h4 {
    @include font-size($h4-font-sizes);
}

h5 {
    @include font-size($h4-font-sizes);
}

h6 {
    @include font-size($h4-font-sizes);
}

p, li {
    @include font-size($p-font-sizes);
    -webkit-margin-before: 0;
    font-weight: 300;
}

p em {
    color: $primary-colour;
    font-style: normal;
}

li {
    list-style: disc;
}

strong {
    font-weight: bold;
}

blockquote {
    font-size: 2.2rem;
}


a {
    color: $primary-colour;
    text-decoration: none;
    transition: $base-transition-speed;
}

a:hover {
    opacity: 0.6;
}