
// Breakpoints

$breakpoints: (
        'small' : 768px,
        'medium' : 992px,
        'large' : 1200px
);


// Colours

$primary-colour: #fff;
$secondary-colour: #ccc;

$base-fg-colour: #fff;
$base-bg-colour: #000;

$background-light: #e6e6e6;
$background-dark-colour: #333;

$base-border-colour: #E6E6E6;

$drop-down-bg-colour: #000;
$drop-down-bg-hover-colour: #333;
$drop-down-fg-colour: #fff;


// Animations

$base-transition-speed: 0.5s;


// Font stacks

$base-font-family: aktiv-grotesk, Helvetica, Arial, sans-serif;
$heading-font-family: aktiv-grotesk-thin, Helvetica, Arial, sans-serif;

// Type sizes

$h1-font-sizes: (
        null : (2rem,1.2),
        'small' : (2.8rem,1.1),
        'medium' : (2.8rem,1.1),
        'large' : (3rem,1.1)
);

$h2-font-sizes: (
        null : (1.4rem,1.2),
        'small' : (1.6rem,1.1),
        'medium' : (1.6rem,1.1),
        'large' : (1.6rem,1.1)
);

$h3-font-sizes: (
        null : (2.3rem,1.2),
        'small' : (2.5rem,1.1),
        'medium' : (2.7rem,1.1),
        'large' : (2.9rem,1.1)
);

$h4-font-sizes: (
        null : (1.8rem,1.2),
        'small' : (1.8rem,1.1),
        'medium' : (2.0rem,1.1),
        'large' : (2.5rem,1.1)
);

$p-font-sizes: (
        null : (1.5rem,1.4),
        'small' : (1.8rem,1.4),
        'medium' : (1.9rem,1.4),
        'large' : (2rem,1.4)
);

$button-font-sizes: (
        null : 16px,
        'small' : 16px,
        'medium' : 16px,
        'large' : 16px
);

// Sizes

$base-height: 40px;
$grid-gutter: 2%;
$margin: 40px;

$base-border-radius: 0px;